html {
    scroll-behavior: smooth;
}
.car {
    color: white;
    font-style: initial;
    text-align: center;
    background-color: #424242;
    padding: 80px;
    width: 90%;
    margin-left: 65px;
    margin-top: 20px;
    filter: drop-shadow(2px 4px 8px #474747);
}

.container {
    filter: drop-shadow(2px 4px 8px #474747)
}
.message {
    filter: drop-shadow(2px 4px 8px #8f8b8b);
}
.message-i {
    margin-right: 20px;
    filter: drop-shadow(2px 4px 8px #8f8b8b);
}

.cardie {
    margin-top: 12px;
    width: 17%;
    
}
body {
    background-color: #f5f5f5 
}
section {
    background-color: #f5f5f5 
}
article{
    background-color: #f5f5f5 
}
tr {
    margin: -250px;
    text-align: center;
    width: 150%;
}
.subtitle {
    text-align: center;
}
.text {
    text-align: center;
}
h1 {
    margin: px;
}
.field {
    margin-left: 57px;
}
.title {
    filter: drop-shadow(2px 4px 8px #474747);
}
.alert {
    text-align: center;

}
.card {
    text-align: center;
    width: 70%;
    margin-left: 225px;
    filter: drop-shadow(2px 4px 8px #8f8b8b);
}
.contact {
    background-color: #424242;
}



